body {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid red;
}

header {

    position: fixed;
    top:50px;
    height:50px;
    width:100%;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* just make scrollbar invisible */

}

div.card {
    margin-top: 100px;
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: left;
    /* The width of the container also implies margin around the images. */
    width: 501px;

}

img.img1 {
    background-color: #8995FF;

}

img.img2 {
    background-color: #89E3FF;

}

img.img3 {
    background-color: #89FFB8;
}


img.img4 {
    background-color: #E0FF89;
}

img.img5 {
    background-color: #FFB489;
}

/* Horizontal scroll */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: white;

}

/* buttons */
.arrow {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.next {
    top: 45%;
    right: 3%;
}

.previous {
    top: 45%;
    left: 3%;
}

/* .header2{
    text-align: left;
    display: inline-block;
}

.header5{
    display: inline-block;
    text-align: right;
} */

.header2 {
    font-family: Arial-BoldMT;
    text-align: left;
    color: black;
    float: left;
  }
  
  .header5 {
    font-family: ArialMT;
    text-align: left;
    float: right;
    color:black;
    width: 80px;
  }


h3 {
    font-family: ArialMT;
    font-size: 18px;
    margin:0;
}

p {
    font-family: ArialMT;
    font-size: 18px;
    margin:0;
}

.caption1 {
    height: fit-content;
    width: fit-content;
}

.caption2 {
    height: fit-content;
    width: fit-content;
    color: grey;
}


.card {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 100%;
    max-height: 20%;
    padding: 0 4px;
}

.card img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* For 700px */
@media (max-width: 700px) {
    img {
    position: relative;
    max-width: 70vw;
    height: 70vw;  
    
    }
    .card {
    position: relative;
    max-width: 70vw;
    height: 90vw;  
     
    }

    .arrow {
        top: 38%;
    }
}



